<%= content_tag :div,
  id: 'roulette-metrics',
  style: 'width: 100%',
  data: {
    columns: @columns.to_json,
    table_entries: @table_data.to_json,
    chart_entries: @chart_data.to_json
  } do %>
  <b-container>
    <canvas
      v-for="key in Object.keys(chartEntries)" :key="key"
      :id="'bubbleplot-' + key" width='400' height='400'>
    </canvas>
    <b-row>
      <b-col>
        <table class="table b-table">
          <thead role="rolegroup">
            <tr>
              <th style="border-bottom: 0px solid;" />
              <% @subgroup_columns.map { |c| c[:group] }.uniq.each do |k| %>
                <th style="border-left: 2px solid #dee2e6;" colspan=<%= @roulette_count %>>
                  <center><%= k %></center>
                </th>
              <% end %>
            </tr>
            <tr>
              <th style="border-top: 0px solid;">
                <center>Level</center>
              </th>
              <% @subgroup_columns.each do |k| %>
                <th style="border-left: 2px solid #dee2e6;">
                  <center><%= k[:subgroup] %></center>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @table_data.each do |row| %>
              <tr>
                <td><center><%= row[:level] %></center></td>
                <% @subgroup_columns.each do |c| %>
                  <td>
                    <% if row[:data].key?(c[:group]) and row[:data][c[:group]].key?(c[:subgroup]) %>
                      <center><%= row[:data][c[:group]][c[:subgroup]] %></center>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
<% end %>
