<p id="notice"><%= notice %></p>

<h1>Metrics Trials</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics_trials.each do |metrics_trial| %>
      <tr>
        <td><%= link_to 'Show', metrics_trial %></td>
        <td><%= link_to 'Edit', edit_metrics_trial_path(metrics_trial) %></td>
        <td><%= link_to 'Destroy', metrics_trial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metrics Trial', new_metrics_trial_path %>
