<p id="notice"><%= notice %></p>

<h1>Metrics Dungeons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics_dungeons.each do |metrics_dungeon| %>
      <tr>
        <td><%= link_to 'Show', metrics_dungeon %></td>
        <td><%= link_to 'Edit', edit_metrics_dungeon_path(metrics_dungeon) %></td>
        <td><%= link_to 'Destroy', metrics_dungeon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metrics Dungeon', new_metrics_dungeon_path %>
