<!DOCTYPE html>
<html>
  <head>
    <title>FfxivDungeonTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="mx-0 my-0">
    <div id='top-navbar' class="mb-2">
      <b-navbar toggleable="lg" type="light" variant="info">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="/">Form</b-nav-item>
            <b-nav-item href="/metrics/roulettes">Roulettes</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="#">Discord</b-nav-item>
            <b-nav-item href="#">Github</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <%= yield %>

    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script style="position: fixed; bottom: 50px; right: 10px;">
      kofiWidgetOverlay.draw('blakexiaolong', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Tip Me',
        'floating-chat.donateButton.background-color': '#794bc4',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
  </body>
</html>
